        {% load i18n markdown_filters %}
        <ul class="agenda-list">
          {% for event in events %}
            <li class="agenda-card{% if event.featured %} feat{% endif %}">
              {% comment %} 
               <div class="agenda-body">
                <h2><a href="{% url 'core:event_detail' event.pk %}">{{ event.title }}</a></h2>
                <time class="sr-only" datetime="{{ event.start|date:'c' }}">{{ event.start|date:"j F Y, H:i" }}</time>
                <div class="markdown muted agenda-excerpt">
                  {{ event.start|date:"l" }} {{ event.start|date:"j" }} 
                  {{ event.start|date:"F" }}
                  {{ event.start|date:"Y" }}
                  {{ event.start|date:"H:i" }}{% if event.end %} - {{ event.end|date:"H:i" }}{% endif %}
                {% if event.location or event.online_url %}
                    {{ event.location }}
                    {% if event.online_url %}
                      {% if event.location %}—{% endif %} <a href="{{ event.online_url }}" target="_new">{% trans "En ligne" %}</a>
                    {% endif %}
                {% endif %}
                </div>
                {% if event.description %}
                  <div class="markdown muted agenda-excerpt">{{ event.description|markdown }}</div>
                {% endif %}<p class="agenda-actions">
                  <a class="icon-btn" href="{{ event.google_calendar_url }}" target="_new" aria-label="{% trans "Ajouter à Google Agenda" %}" title="{% trans "Ajouter à Google Agenda" %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <!-- Icon downloaded from https://icon-sets.iconify.design/mdi/calendar-plus/ -->
                      <path fill="currentColor" d="M19 19V8H5v11zM16 1h2v2h1a2 2 0 0 1 2 2v14c0 1.11-.89 2-2 2H5a2 2 0 0 1-2-2V5c0-1.11.89-2 2-2h1V1h2v2h8zm-5 8.5h2v3h3v2h-3v3h-2v-3H8v-2h3z" />
                    </svg>
                  </a>
                  <a class="icon-btn" href="{% url 'core:event_ics' event.pk %}" aria-label="{% trans "Ajouter à mon calendrier (.ics)" %}" title="{% trans "Ajouter à mon calendrier (.ics)" %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <!-- Icon downloaded from https://icon-sets.iconify.design/mdi/calendar-export/ -->
                      <path fill="currentColor" d="m12 22l4-4h-3v-6h-2v6H8zm7-19h-1V1h-2v2H8V1H6v2H5c-1.1 0-2 .9-2 2v14a2 2 0 0 0 2 2h3l-2-2H5V8h14v11h-1l-2 2h3c1.11 0 2-.89 2-2V5a2 2 0 0 0-2-2" />
                    </svg>
                  </a>
                </p>
              </div> 
              {% endcomment %}
              <a class="agenda-date" href="{% url 'core:event_detail' event.pk %}" aria-hidden="true">
                <div>
                <span class="agenda-date-year">{{ event.start|date:"Y" }}</span>
                <span class="agenda-date-weekday">{{ event.start|date:"l" }}</span>
                <span class="agenda-date-day">{{ event.start|date:"j" }}</span>
                <span class="agenda-date-month">{{ event.start|date:"N" }}</span>
                <span class="agenda-date-hours">
                  {{ event.start|date:"H:i" }}{% if event.end %} - {{ event.end|date:"H:i" }}{% endif %}
                </span>
                {% if event.location or event.online_url %}
                  <p class="agenda-where">
                    {{ event.location }}
                    {% if event.online_url %}
                      {% if event.location %}—{% endif %} <a href="{{ event.online_url }}" target="_new">{% trans "En ligne" %}</a>
                    {% endif %}
                  </p>
                {% endif %}
                </div>
                <h2>{{ event.title }}</h2>
                {% if event.photo %}
                  <img class="agenda-thumb" src="{{ event.photo.url }}" alt="">
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>