{% load i18n %}
{% if direct_links %}
  <form class="lang-switcher" data-lang-switcher-direct>
    {% comment %} <label for="lang-select" class="sr-only">{% trans "Langue" %}</label> {% endcomment %}
    <label for="lang-select" class="sr-only">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" alt="{% trans "Langue" %}">
	<!-- Icon downloaded from https://icon-sets.iconify.design/mdi/language/ -->
	<path d="M0 0h24v24H0z" fill="none" />
	<path fill="var(--link)" d="m12.87 15.07l-2.54-2.51l.03-.03A17.5 17.5 0 0 0 14.07 6H17V4h-7V2H8v2H1v2h11.17C11.5 7.92 10.44 9.75 9 11.35C8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5l3.11 3.11zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2zm-2.62 7l1.62-4.33L19.12 17z" />
</svg>
</label>
    <select id="lang-select">
      {% for lang in languages %}
        <option value="{{ lang.url }}"{% if lang.code == current_language %} selected{% endif %}>{{ lang.name_local }}</option>
      {% endfor %}
    </select>
    <noscript>
      <ul class="lang-switcher-links">
        {% for lang in languages %}<li><a href="{{ lang.url }}">{{ lang.name_local }}</a></li>{% endfor %}
      </ul>
    </noscript>
  </form>
{% else %}
  <form action="{% url 'set_language' %}" method="post" class="lang-switcher">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <label for="lang-select" class="sr-only">{% trans "Langue" %}</label>
    <select id="lang-select" name="language">
      {% for lang in languages %}
        <option value="{{ lang.code }}"{% if lang.code == current_language %} selected{% endif %}>{{ lang.name_local }}</option>
      {% endfor %}
    </select>
    <noscript><button class="lang-switcher-go" type="submit">{% trans "Changer" %}</button></noscript>
  </form>
{% endif %}
