{% load static %}<picture>
  <source media="(max-width: 450px)" srcset="{% static 'core/img/mots-grandsvoisins.png' %}" width="192" height="48">
  <source media="(max-width: 600px)" srcset="{% static 'core/img/mots-lesgrandsvoisins.png' %}" width="261" height="54">  
  <source media="(max-width: 900px)" srcset="{% static 'core/img/mots-lesgrandsvoisins.png' %}" width="290" height="60">
  <img class="mark" src="{% static 'core/img/logo-lesgrandsvoisins-group.png' %}" width="600" height="72" alt="Les Grands Voisins">
</picture>
